body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200vh;
}

* + * {
    margin-top: 0.5em;
}

.mainForm {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.popup {
    padding: 2%;
    display: none;
    width: 50%;
    max-width: 500px;
    margin: 0px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.blackBack {
    position: fixed;
    margin-top: 0em;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.popupForm button {
    margin-top: 1em;
}

button {
    font-size: 1.2em;
}

.show {
    display: inline-block;
    z-index: 2;
}

.showBlock {
    display: block;
    z-index: 1;
}

.inputFlex {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    flex-direction: column;
}

.mainFlex {
    display: flex;
    flex-direction: row;
}

.mainFlex .flex + .flex{
    margin-left: 2em;
    margin-top: 0em;
}

.flex input {
    margin: 0px;
    vertical-align: middle;
}

@media(max-width: 850px) {
    .mainFlex {
        flex-direction: column;
    }
    .mainFlex .flex + .flex{
        margin-left: 0em;
        margin-top: 0.5em;
    }
}